.conteudo-footer {
    background-color: hsl(119, 40%, 74%);
    padding: 2em 5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3em;
}
.conteudo-footer .footer-left {
    width: 50%;
}
.conteudo-footer .footer-right {
    width: 13%;
    margin: 15px;
}
  
.conteudo-footer .footer-right p {
    max-width: 3800px;
    font-weight: 670;
    font-size: 16px;
}
.conteudo-footer .footer-right a.facebook {
    color: hsl(249, 94%, 45%);
}
.conteudo-footer .footer-right a.instagram {
    color: hsl(298, 76%, 39%);
}
.conteudo-footer .footer-right a.twitter {
    color: hsl(204, 81%, 42%);
}
.conteudo-footer .footer-right a.facebook:hover {
    color: hsl(236, 100%, 70%);
}
.conteudo-footer .footer-right a.instagram:hover {
    color: hsl(293, 100%, 73%);
}
.conteudo-footer .footer-right a.twitter:hover {
    color: hsl(212, 80%, 67%);
}
  
.conteudo-footer span {
    font-weight: 500;
    color: rgba(55, 100, 0, 50%);
    margin-right: 15px;
    margin-bottom: 20px;
}
  
.conteudo-footer .footer-left .texto-footer{
    margin-left: 15px;
}
.conteudo-footer .footer-left img{
    width: 120px;
}
